#!/usr/bin/env bash

export HISTSIZE=2000
export HISTFILESIZE=${HISTSIZE}

# Flutter Path Export (ADDED TO PATH)
# export PATH=~/bin/flutter/bin:$PATH

# Java Path and Export
# export JAVA_HOME=/usr/lib/jvm/jdk-11.0.9
# export PATH=$PATH:$JAVA_HOME/bin

# Android Export and Path
# export ANDROID_HOME=~/bin/Android/Sdk
# export ANDROID_SDK=~/bin/Android/Sdk
# export PATH=$PATH:$ANDROID_SDK/tools:$ANDROID_SDK/platform-tools

# export PATH=$PATH:~/.linuxbrew

# export PATH=$PATH:~/.local/bin

export NVM_DIR="$HOME/bin/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
