#!/usr/bin/env bash

# -----------------------------
# General Utility Functions
# -----------------------------

# Create a new directory and enter it
mkd() {
	mkdir -p "$@" && cd "$_";
}


# Compare original and gzipped file size
gz() {
    local origsize=$(wc -c < "$1")
    local gzipsize=$(gzip -c "$1" | wc -c)
    local ratio=$(echo "$gzipsize * 100 / $origsize" | bc -l)
    printf "orig: %d bytes\n" "$origsize"
    printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio"
}

# Change file extensions
change_extension() {
    for f in *.$1; do
        [ -f "$f" ] && mv -v "$f" "${f%$1}$2"
    done
}

# -----------------------------
# Archive Utility Functions
# -----------------------------

# Create a .tar.gz archive, using `zopfli`, `pigz` or `gzip` for compression
targz() {
	local tmpFile="${@%/}.tar";
	tar -cvf "${tmpFile}" --exclude=".DS_Store" "${@}" || return 1;

	size=$(
		stat -f"%z" "${tmpFile}" 2> /dev/null; # macOS `stat`
		stat -c"%s" "${tmpFile}" 2> /dev/null;  # GNU `stat`
	);

	local cmd="";
	if (( size < 52428800 )) && hash zopfli 2> /dev/null; then
		# the .tar file is smaller than 50 MB and Zopfli is available; use it
		cmd="zopfli";
	else
		if hash pigz 2> /dev/null; then
			cmd="pigz";
		else
			cmd="gzip";
		fi;
	fi;

	echo "Compressing .tar ($((size / 1000)) kB) using \`${cmd}\`…";
	"${cmd}" -v "${tmpFile}" || return 1;
	[ -f "${tmpFile}" ] && rm "${tmpFile}";

	zippedSize=$(
		stat -f"%z" "${tmpFile}.gz" 2> /dev/null; # macOS `stat`
		stat -c"%s" "${tmpFile}.gz" 2> /dev/null; # GNU `stat`
	);

	echo "${tmpFile}.gz ($((zippedSize / 1000)) kB) created successfully.";
}

# -----------------------------
# File System Utility Functions
# -----------------------------


# Determine size of a file or total size of a directory
fs() {
    local arg=-sh;
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# -----------------------------
# Git Utility Functions
# -----------------------------

if hash git &>/dev/null; then
    # Use Git’s colored diff when available
    diff() {
        git diff --no-index --color-words "$@"
    }
fi

# -----------------------------
# Open Function (Cross-platform)
# -----------------------------

# Normalize `open` across Linux, macOS, and Windows.
# This is needed to make the `o` (see below) cross-platform.
if [ ! $(uname -s) = 'Darwin' ]; then
	if grep -q Microsoft /proc/version; then
		# Ubuntu on Windows using the Linux subsystem
		alias open='explorer.exe';
	else
		alias open='xdg-open';
	fi
fi

# `o` with no arguments opens the current directory, otherwise opens the given
# location
o() {
	if [ $# -eq 0 ]; then
		open .;
	else
		open "$@";
	fi;
}

# -----------------------------
# Docker Utility Functions
# -----------------------------

docker_stop_containers() {
    docker stop $(docker ps -a -q) 2>/dev/null
}

docker_rm_containers() {
    docker rm -f -v $(docker ps -a -q) 2>/dev/null
}

docker_rmi_images() {
    docker rmi -f $(docker images -q) 2>/dev/null
}

docker_build() {
    local TAG=${1?"Error: A tag value is required"}
    local IMAGE=${2?"Error: An image name is required"}
    docker build -t "$IMAGE:$TAG" -t "$IMAGE:latest" .
}

docker_run() {
    local IMAGE=${1?"Error: An image name is required"}
    local CONTAINER=${2?"Error: A container name is required"}
    local PORT=${3?"Error: A port number is required"}
    docker run --restart=on-failure -p "127.0.0.1:$PORT:$PORT" --name "$CONTAINER" -d "$IMAGE"
}

docker_update() {
    IMAGE=${1?Need an image name}
    CONTAINER=${2?Need a container name}
    PORT=${3?Need a port}


    docker stop $CONTAINER
    docker rm $CONTAINER

    # docker run -p 127.0.0.1:3000:3000 --name "$CONTAINER" -d "$IMAGE"
    # --restart=on-failure will force a restart of the container upon the exit signal from nodejs
    docker run --restart=on-failure -p 127.0.0.1:"$PORT:$PORT" --name "$CONTAINER" -d "$IMAGE"
}
